header {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}


p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}


